@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@300;500;700&display=swap');

body {
    background:linear-gradient(to right, #1383d9, #146caf);
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

@keyframes shadow_scaling {
        0% {
            box-shadow: 0px 8px 24px 0px #b6d2e700;
    }
        50% {
            box-shadow: 0px 12px 160px 0px #b4b8bb77;
    }
        100% {
            box-shadow: 0px 8px 24px 0px #b6d2e700;
}
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 424px;
    background-color: #ffffff41 ;
    border-radius: 24px;
    box-shadow: 0px 12px 66px 0px rgba(35, 138, 217, 0.7);
    animation: shadow_scaling 2s infinite ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 48px 48px ;
    margin: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.56);
}

.counter_output {
    font-size: 80px;
    line-height: 112px;
    font-family: 'Dela Gothic One', cursive;
    margin: 32px 0;
    color: white;

}

.counter_actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.primary_button {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding: 16px 24px;
    background-color: #1383d9;
    color: #fff;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
}

.primary_button:hover {
    transition: 220ms ease-in-out;
    background-color: #146caf;
    cursor: pointer;
}

.icon_button {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding: 16px 24px;
    margin-top: 24px;
    background-color: #eaeff3;
    color: #061927;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.icon_button:hover {
    transition: 220ms ease;
    background-color: #d8dfe4;

}

.info_block {
    padding-top: 32px;
}

.info_block > h1 {
    font-size: 32px;
    line-height: 48px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    margin: 0 0 16px 0;
    color: white;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #ffffff8c;
    margin: 0;
}
